    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Do'kon{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'product-list' %}">Do'kon</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'product-list' %}">Mahsulotlar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'product-add' %}">Yangi mahsulot</a></li>
                    </ul>
                    <form method="get" class="d-flex me-2">
                        <input type="text" name="q" placeholder="Qidiruv..."
                               class="form-control me-2"
                               style="width:200px; border-radius: 0.25rem 0 0 0.25rem;">
                        <button class="btn btn-outline-light" type="submit"
                                style="border-radius: 0 0.25rem 0.25rem 0;">Qidirish</button>
                    </form>

                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
