{% extends 'inventory/base.html' %}
{% block title %}Mahsulotlar{% endblock %}
{% block content %}
<div class="container mt-4">
    <!-- Sarlavha va tugmalar -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <h2>📦 Mahsulotlar ro'yxati</h2>
        <div class="d-flex mt-2">
            <a href="{% url 'sold-product-list' %}" class="btn btn-dark me-2">📊 Sotilganlar statistikasi</a>
            <a href="{% url 'product-add' %}" class="btn btn-primary">➕ Yangi mahsulot</a>
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered shadow-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Nomi</th>
                    <th>Sotish narxi</th>
                    <th>Tannarxi</th>
                    <th>Zaxira</th>
                    <th>Amallar</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} so‘m</td>
                    <td>{{ product.cost_price }} so‘m</td>
                    <td>
                        {% if product.quantity > 0 %}
                            <span class="badge bg-success">{{ product.quantity }}</span>
                        {% else %}
                            <span class="badge bg-danger">Qolmadi</span>
                        {% endif %}
                    </td>
                    <td class="d-flex flex-column flex-md-row gap-2">
                        {% if product.quantity > 0 %}
                            <a href="{% url 'product-sell' product.pk %}" class="btn btn-success btn-sm">💰 Sotish</a>
                        {% else %}
                            <button class="btn btn-secondary btn-sm" disabled>❌ Tugagan</button>
                        {% endif %}
                        <a href="{% url 'product-delete' product.pk %}" class="btn btn-outline-danger btn-sm">🗑 O‘chirish</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="6" class="text-center text-muted py-3">Mahsulotlar yo‘q 😕</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
